<!DOCTYPE html>
<html>
<head>
  <title>Summons Board</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel='stylesheet' id='serene-fonts-css'  href='http://fonts.googleapis.com/css?family=Raleway:400,200,100,500,700,800,900&#038;subset=latin,latin-ext' type='text/css' media='all' />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="application <%=params[:controller]%> <%=params[:action]%>">
    <%= yield %>
</body>
</html>